var array = require('../shared/wxs/array.wxs');
var utils = require('../shared/wxs/utils.wxs');

function rowStyle(data) {
  var gutter = array.ensureArray(data.gutter);

  var margin = gutter[0] ? utils.addUnit(-gutter[0] / 2) : null;
  var rowGap = gutter[1] ? utils.addUnit(gutter[1]) : null;

  return utils.style([
    {
      marginLeft: margin,
      marginRight: margin,
      rowGap: rowGap,
    },
    data.style,
  ]);
}

module.exports = {
  rowStyle: rowStyle,
};
