var style = require('../wxs/style.wxs');
var utils = require('../wxs/utils.wxs');

function colStyle(data) {
  var padding = data.gutter ? utils.addUnit(data.gutter / 2) : null;

  return style([
    {
      'padding-left': padding,
      'padding-right': padding,
    },
    data.style,
  ]);
}

module.exports = {
  colStyle: colStyle,
};
