@import '../common/style/variables.less';

@loading-default-color: var(--loading-default-color, @default-color);
@loading-primary-color: var(--loading-primary-color, @primary-color);
@loading-success-color: var(--loading-success-color, @success-color);
@loading-warning-color: var(--loading-warning-color, @warning-color);
@loading-danger-color: var(--loading-danger-color, @danger-color);

@loading-small-size: var(--loading-small-size, 20px);
@loading-default-size: var(--loading-small-size, 28px);
@loading-large-size: var(--loading-small-size, 36px);
@loading-label-font-size: var(--loading-label-font-size, @font-size-xs);

@loading-animation-duration: var(--loading-animation-duration, 0.8s);

@loading: ~'k-loading';

.@{loading} {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: @spacer-s;
  color: @loading-default-color;

  &__spinner {
    box-sizing: border-box;
    border: 2px solid currentColor;
    border-top-color: transparent;
    border-radius: 100%;
    width: @loading-default-size;
    height: @loading-default-size;
    animation: circular infinite @loading-animation-duration linear;
  }

  &--current {
    color: currentColor;
  }

  &--primary {
    color: @loading-primary-color;
  }

  &--success {
    color: @loading-success-color;
  }

  &--warning {
    color: @loading-warning-color;
  }

  &--danger {
    color: @loading-danger-color;
  }

  &--sm {
    .@{loading}__spinner {
      width: @loading-small-size;
      height: @loading-small-size;
    }
  }

  &--lg {
    .@{loading}__spinner {
      width: @loading-large-size;
      height: @loading-large-size;
    }
  }

  &--vertical {
    flex-direction: column;
    gap: @spacer-s;
  }

  &__label {
    font-size: @loading-label-font-size;
  }
}

@keyframes circular {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
