@media (prefers-color-scheme: light) {
  page {
    --k-primary-50: #e5f1ff;
    --k-primary-100: #cce4ff;
    --k-primary-200: #94c6ff;
    --k-primary-300: #61abff;
    --k-primary-400: #298dff;
    --k-primary-500: #0072f5;
    --k-primary-600: #005ac2;
    --k-primary-700: #004594;
    --k-primary-800: #002d61;
    --k-primary-900: #001833;

    --k-secondary-50: #f2eafa;
    --k-secondary-100: #e5d5f6;
    --k-secondary-200: #cbabed;
    --k-secondary-300: #b181e4;
    --k-secondary-400: #9757db;
    --k-secondary-500: #7d2dd2;
    --k-secondary-600: #6424a8;
    --k-secondary-700: #4b1b7e;
    --k-secondary-800: #321254;
    --k-secondary-900: #19092a;

    --k-success-50: #e4fcee;
    --k-success-100: #cdf9e0;
    --k-success-200: #9bf3c1;
    --k-success-300: #64ed9f;
    --k-success-400: #32e780;
    --k-success-500: #18c964;
    --k-success-600: #139f50;
    --k-success-700: #0e763b;
    --k-success-800: #0a5229;
    --k-success-900: #052915;

    --k-warning-50: #fef7eb;
    --k-warning-100: #fdedd3;
    --k-warning-200: #fbdba7;
    --k-warning-300: #f9c97b;
    --k-warning-400: #f7b74f;
    --k-warning-500: #f5a524;
    --k-warning-600: #d7880a;
    --k-warning-700: #a16607;
    --k-warning-800: #6b4405;
    --k-warning-900: #362202;

    --k-danger-50: #fee7ef;
    --k-danger-100: #fdcedf;
    --k-danger-200: #faa3c1;
    --k-danger-300: #f872a1;
    --k-danger-400: #f64784;
    --k-danger-500: #f31664;
    --k-danger-600: #cc0a4e;
    --k-danger-700: #96083a;
    --k-danger-800: #660527;
    --k-danger-900: #310213;

    --k-gray-50: #f2f2f3;
    --k-gray-100: #e2e2e4;
    --k-gray-200: #c7c7cc;
    --k-gray-300: #aaaab1;
    --k-gray-400: #8f8f98;
    --k-gray-500: #73737d;
    --k-gray-600: #5d5d65;
    --k-gray-700: #44444a;
    --k-gray-800: #2e2e32;
    --k-gray-900: #161618;

    --k-border-color: rgba(17, 17, 17, 0.15);

    --k-page-bg-color: #f0f2f5;
    --k-component-bg-color: #ffffff;
    --k-component-bg-color-active: #e7e8ea;
    --k-spotlight-bg-color: rgba(0, 0, 0, 0.75);
    --k-overlay-bg-color: rgba(0, 0, 0, 0.65);

    --k-text-color: rgba(0, 0, 0, 0.85);
    --k-text-color-secondary: rgba(0, 0, 0, 0.65);
    --k-text-color-placeholder: rgba(0, 0, 0, 0.45);
    --k-text-color-anti: rgba(255, 255, 255, 0.85);
    --k-text-color-system: rgba(0, 0, 0, 1);

    --k-default-bg-color: var(--k-gray-50);
    --k-default-bg-color-active: var(--k-gray-100);
    --k-default-color: var(--k-gray-200);
    --k-default-color-active: var(--k-gray-300);

    --k-primary-bg-color: var(--k-primary-50);
    --k-primary-bg-color-active: var(--k-primary-100);
    --k-primary-color: var(--k-primary-500);
    --k-primary-color-active: var(--k-primary-600);

    --k-secondary-bg-color: var(--k-secondary-50);
    --k-secondary-bg-color-active: var(--k-secondary-100);
    --k-secondary-color: var(--k-secondary-500);
    --k-secondary-color-active: var(--k-secondary-600);

    --k-success-bg-color: var(--k-success-50);
    --k-success-bg-color-active: var(--k-success-100);
    --k-success-color: var(--k-success-500);
    --k-success-color-active: var(--k-success-600);

    --k-warning-bg-color: var(--k-warning-50);
    --k-warning-bg-color-active: var(--k-warning-100);
    --k-warning-color: var(--k-warning-500);
    --k-warning-color-active: var(--k-warning-600);

    --k-danger-bg-color: var(--k-danger-50);
    --k-danger-bg-color-active: var(--k-danger-100);
    --k-danger-color: var(--k-danger-500);
    --k-danger-color-active: var(--k-danger-600);
  }
}
