@import '../shared/style/variables.less';
@import '../shared/style/mixins/hairline.less';

@cell-padding-block: var(--k-cell-padding-block, 12px);
@cell-padding-inline: var(--k-cell-padding-inline, 16px);
@cell-line-height: var(--k-cell-line-height, 24px);
@cell-font-size: var(--k-cell-font-size, @font-size-s);
@cell-color: var(--k-cell-color, @text-color);
@cell-bg-color: var(--k-cell-bg-color, @component-bg-color);
@cell-bg-color-active: var(--k-cell-bg-color-active, @component-bg-color-active);

@cell-label-line-height: var(--k-cell-label-line-height, @line-height-xs);
@cell-label-font-size: var(--k-cell-label-font-size, @font-size-xs);
@cell-label-color: var(--k-cell-label-color, @text-color-placeholder);
@cell-value-color: var(--k-cell-value-color, @text-color-placeholder);
@cell-icon-size: var(--k-cell-icon-size, 16px);
@cell-right-icon-color: var(--k-cell-right-icon-color, @text-color-placeholder);

@cell-large-padding-block: var(--k-cell-large-padding-block, 16px);
@cell-large-font-size: var(--k-cell-large-font-size, @font-size-m);
@cell-large-label-line-height: var(--k-cell-large-label-line-height, @line-height-s);
@cell-large-label-font-size: var(--k-cell-large-label-font-size, @font-size-s);

@cell: ~'k-cell';

.@{cell} {
  position: relative;
  display: flex;
  gap: @spacer-xs;
  box-sizing: border-box;
  padding: @cell-padding-block @cell-padding-inline;
  line-height: @cell-line-height;
  font-size: @cell-font-size;
  color: @cell-color;
  background-color: @cell-bg-color;

  &__value {
    flex: 1;
    overflow: hidden;
    text-align: right;
    vertical-align: middle;
    word-wrap: break-word;
    color: @cell-value-color;
  }

  &__label {
    margin-top: @spacer-xs;
    line-height: @cell-label-line-height;
    font-size: @cell-label-font-size;
    color: @cell-label-color;

    &:empty {
      display: none;
    }
  }

  &__left-icon,
  &__right-icon {
    display: inline-flex;
    align-items: center;
    font-size: @cell-icon-size;
  }

  &__right-icon {
    color: @cell-right-icon-color;
  }

  &--large {
    padding-top: @cell-large-padding-block;
    padding-bottom: @cell-large-padding-block;
    font-size: @cell-large-font-size;

    .@{cell}__label {
      line-height: @cell-large-label-line-height;
      font-size: @cell-large-label-font-size;
    }
  }

  &--center {
    align-items: center;
  }

  &--border {
    &::after {
      .hairline-bottom();
      left: @cell-padding-inline;
      right: @cell-padding-inline;
    }
  }

  &--clickable&--active {
    background-color: @cell-bg-color-active;
  }
}
