.block {
  width: 100px;
  height: 100px;
  background-color: blue;
  transition-timing-function: ease;
}

.k-fade-enter-active,
.k-fade-leave-active {
  transition-property: opacity;
}

.k-fade-enter,
.k-fade-leave-to {
  opacity: 0;
}

.k-custom-enter-active,
.k-custom-leave-active {
  transition-property: background-color, transform;
}

.k-custom-enter,
.k-custom-leave-to {
  background-color: red;
  transform: rotate(-360deg) translate3d(-100%, -100%, 0);
}
