.layout {
  padding: 8px 0;
  background-color: rgba(128, 128, 128, 0.08);
}

.block {
  width: 25%;
  height: 80rpx;
  background-clip: content-box;
  background-color: #0072f5;
}

.block:nth-child(2n + 1) {
  background-color: #0072f5bf;
}
