var style = require('../wxs/style.wxs');

function transitionStyle(data) {
  var duration = data.transitionDuration ? data.transitionDuration + 'ms' : null;

  return style([
    {
      '-webkit-transition-duration': duration,
      'transition-duration': duration,
    },
    data.display ? null : 'display: none',
    data.style,
  ]);
}

module.exports = {
  transitionStyle: transitionStyle,
};
