@import '../common/style/variables.less';

@button-default-color: var(--button-default-color, @black-color);
@button-default-background-color: var(--button-default-background-color, @default-color);
@button-default-border-color: var(--button-default-border-color, @black-color);

@button-primary-color: var(--button-primary-color, @white-color);
@button-primary-background-color: var(--button-primary-background-color, @primary-color);
@button-primary-border-color: @primary-color;

@button-success-color: var(--button-success-color, @white-color);
@button-success-background-color: var(--button-success-background-color, @success-color);
@button-success-border-color: @success-color;

@button-warning-color: var(--button-warning-color, @black-color);
@button-warning-background-color: var(--button-warning-background-color, @warning-color);
@button-warning-border-color: @warning-color;

@button-danger-color: var(--button-danger-color, @white-color);
@button-danger-background-color: var(--button-danger-background-color, @danger-color);
@button-danger-border-color: @danger-color;

@button-small-border-radius: var(--button-small-border-radius, @radius-s);
@button-small-padding-inline: var(--button-small-padding-inline, 12px);
@button-small-height: var(--button-small-height, 30px);
@button-small-font-size: var(--button-small-font-size, @font-size-s);

@button-default-border-radius: var(--button-default-border-radius, @radius-m);
@button-default-padding-inline: var(--button-default-padding-inline, 16px);
@button-default-height: var(--button-default-height, 44px);
@button-default-font-size: var(--button-default-font-size, @font-size-m);

@button-large-border-radius: var(--button-large-border-radius, @radius-l);
@button-large-padding-inline: var(--button-large-padding-inline, 20px);
@button-large-height: var(--button-large-height, 50px);
@button-large-font-size: var(--button-large-font-size, @font-size-l);

@button-disabled-opacity: var(--button-disabled-opacity, 0.5);
@button-border-width: var(--button-border-width, 2px);
@button-font-weight: var(--button-font-weight, @font-weight-bold);

@button: ~'k-button';

.@{button} {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: @spacer-xs;
  box-sizing: border-box;
  white-space: nowrap;
  text-align: center;
  outline: none;
  margin: 0;
  border-radius: @button-default-border-radius;
  padding-left: @button-default-padding-inline;
  padding-right: @button-default-padding-inline;
  height: @button-default-height;
  line-height: @button-default-height;
  font-size: @button-default-font-size;
  font-weight: @button-font-weight;
  font-family: @font-family;
  vertical-align: top;
  color: @button-default-color;
  background-color: @button-default-background-color;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    content: '';
    opacity: 0;
    background-color: @black-color;
  }

  &__icon {
    font-size: 1.4em;
  }

  &--active::before {
    opacity: 0.15;
  }

  &::after {
    display: none;
  }

  &--primary {
    color: @button-primary-color;
    background-color: @button-primary-background-color;
  }

  &--success {
    color: @button-success-color;
    background-color: @button-success-background-color;
  }

  &--warning {
    color: @button-warning-color;
    background-color: @button-warning-background-color;
  }

  &--danger {
    color: @button-danger-color;
    background-color: @button-danger-background-color;
  }

  &--sm {
    border-radius: @button-small-border-radius;
    padding-left: @button-small-padding-inline;
    padding-right: @button-small-padding-inline;
    height: @button-small-height;
    line-height: @button-small-height;
    font-size: @button-small-font-size;
  }

  &--lg {
    border-radius: @button-large-border-radius;
    padding-left: @button-large-padding-inline;
    padding-right: @button-large-padding-inline;
    height: @button-large-height;
    line-height: @button-large-height;
    font-size: @button-large-font-size;
  }

  &--clear {
    background-color: transparent;

    &::before {
      display: none;
    }

    &.@{button}--active {
      opacity: 0.5;
    }

    &.@{button}--primary {
      color: @button-primary-background-color;
    }

    &.@{button}--success {
      color: @button-success-background-color;
    }

    &.@{button}--warning {
      color: @button-warning-background-color;
    }

    &.@{button}--danger {
      color: @button-danger-background-color;
    }
  }

  &--outline {
    border-width: @button-border-width;
    border-style: solid;
    background-color: transparent;

    &.@{button}--primary {
      color: @button-primary-background-color;

      &::before {
        background-color: @button-primary-background-color;
      }
    }

    &.@{button}--success {
      color: @button-success-background-color;

      &::before {
        background-color: @button-success-background-color;
      }
    }

    &.@{button}--warning {
      color: @button-warning-background-color;

      &::before {
        background-color: @button-warning-background-color;
      }
    }

    &.@{button}--danger {
      color: @button-danger-background-color;

      &::before {
        background-color: @button-danger-background-color;
      }
    }
  }

  &--round {
    border-radius: calc(@button-default-height / 2);

    &.@{button}--sm {
      border-radius: calc(@button-small-height / 2);
    }

    &.@{button}--lg {
      border-radius: calc(@button-large-height / 2);
    }
  }

  &--circle {
    min-width: @button-default-height;
    padding-left: 0;
    padding-right: 0;
    border-radius: 50%;

    &.@{button}--sm {
      min-width: @button-small-height;
    }

    &.@{button}--lg {
      min-width: @button-large-height;
    }
  }

  &--block {
    display: flex;
    width: 100%;
  }

  &--full {
    display: flex;
    width: 100%;
    border-radius: 0;
  }

  &--disabled {
    opacity: @button-disabled-opacity;
  }
}
