@import '../shared/style/variables.less';

@button-border-width: var(--k-button-border-width, 2px);
@button-border-radius: var(--k-button-border-radius, @radius-m);
@button-padding-inline: var(--k-button-padding-inline, 16px);
@button-height: var(--k-button-height, 44px);
@button-font-family: var(--k-button-font-family, 'PingFang SC');
@button-font-size: var(--k-button-font-size, @font-size-m);
@button-font-weight: var(--k-button-font-weight, @font-weight-bold);
@button-color: var(--k-button-color, @text-color-system);
@button-bg-color: var(--k-button-bg-color, @default-color);
@button-bg-color-active: var(--k-button-bg-color-active, @default-color-active);
@button-fill-color: var(--k-button-fill-color, @default-bg-color-active);
@button-disabled-opacity: var(--k-button-disabled-opacity, @disabled-opacity);
@button-icon-size: var(--k-button-icon-size, 1em);
@button-loading-size: var(--k-button-loading-size, 1em);

@button-primary-color: var(--k-button-primary-color, @white-color);
@button-primary-bg-color: var(--k-button-primary-bg-color, @primary-color);
@button-primary-bg-color-active: var(--k-button-primary-bg-color-active, @primary-color-active);
@button-primary-fill-color: var(--k-button-primary-fill-color, @primary-bg-color-active);

@button-secondary-color: var(--k-button-secondary-color, @white-color);
@button-secondary-bg-color: var(--k-button-secondary-bg-color, @secondary-color);
@button-secondary-bg-color-active: var(--k-button-secondary-bg-color-active, @secondary-color-active);
@button-secondary-fill-color: var(--k-button-secondary-fill-color, @secondary-bg-color-active);

@button-success-color: var(--k-button-success-color, @dark-color);
@button-success-bg-color: var(--k-button-success-bg-color, @success-color);
@button-success-bg-color-active: var(--k-button-success-bg-color-active, @success-color-active);
@button-success-fill-color: var(--k-button-success-fill-color, @success-bg-color-active);

@button-warning-color: var(--k-button-warning-color, @dark-color);
@button-warning-bg-color: var(--k-button-warning-bg-color, @warning-color);
@button-warning-bg-color-active: var(--k-button-warning-bg-color-active, @warning-color-active);
@button-warning-fill-color: var(--k-button-warning-fill-color, @warning-bg-color-active);

@button-danger-color: var(--k-button-danger-color, @white-color);
@button-danger-bg-color: var(--k-button-danger-bg-color, @danger-color);
@button-danger-bg-color-active: var(--k-button-danger-bg-color-active, @danger-color-active);
@button-danger-fill-color: var(--k-button-danger-fill-color, @danger-bg-color-active);

@button-small-border-radius: var(--k-button-small-border-radius, @radius-s);
@button-small-padding-inline: var(--k-button-small-padding-inline, 12px);
@button-small-height: var(--k-button-small-height, 30px);
@button-small-font-size: var(--k-button-small-font-size, @font-size-s);

@button-large-border-radius: var(--k-button-large-border-radius, @radius-l);
@button-large-padding-inline: var(--k-button-large-padding-inline, 20px);
@button-large-height: var(--k-button-large-height, 50px);
@button-large-font-size: var(--k-button-large-font-size, @font-size-l);

@button: ~'k-button';

.@{button} {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: @spacer-xs;
  box-sizing: border-box;
  white-space: nowrap;
  outline: none;
  margin: 0;
  border-radius: @button-border-radius;
  padding-left: @button-padding-inline;
  padding-right: @button-padding-inline;
  height: @button-height;
  font-family: @button-font-family;
  font-size: @button-font-size;
  font-weight: @button-font-weight;
  color: @button-color;
  background-color: @button-bg-color;

  &--active {
    background-color: @button-bg-color-active;
  }

  &::after {
    display: none;
  }

  &--primary {
    color: @button-primary-color;
    background-color: @button-primary-bg-color;

    &.@{button}--active {
      background-color: @button-primary-bg-color-active;
    }
  }

  &--secondary {
    color: @button-secondary-color;
    background-color: @button-secondary-bg-color;

    &.@{button}--active {
      background-color: @button-secondary-bg-color-active;
    }
  }

  &--success {
    color: @button-success-color;
    background-color: @button-success-bg-color;

    &.@{button}--active {
      background-color: @button-success-bg-color-active;
    }
  }

  &--warning {
    color: @button-warning-color;
    background-color: @button-warning-bg-color;

    &.@{button}--active {
      background-color: @button-warning-bg-color-active;
    }
  }

  &--danger {
    color: @button-danger-color;
    background-color: @button-danger-bg-color;

    &.@{button}--active {
      background-color: @button-danger-bg-color-active;
    }
  }

  &--small {
    border-radius: @button-small-border-radius;
    padding-left: @button-small-padding-inline;
    padding-right: @button-small-padding-inline;
    height: @button-small-height;
    font-size: @button-small-font-size;
  }

  &--large {
    border-radius: @button-large-border-radius;
    padding-left: @button-large-padding-inline;
    padding-right: @button-large-padding-inline;
    height: @button-large-height;
    font-size: @button-large-font-size;
  }

  &--ghost {
    background-color: transparent;

    &.@{button}--active {
      background-color: @button-fill-color;
    }

    &.@{button}--primary {
      color: @button-primary-bg-color;

      &.@{button}--active {
        background-color: @button-primary-fill-color;
      }
    }

    &.@{button}--secondary {
      color: @button-secondary-bg-color;

      &.@{button}--active {
        background-color: @button-secondary-fill-color;
      }
    }

    &.@{button}--success {
      color: @button-success-bg-color;

      &.@{button}--active {
        background-color: @button-success-fill-color;
      }
    }

    &.@{button}--warning {
      color: @button-warning-bg-color;

      &.@{button}--active {
        background-color: @button-warning-fill-color;
      }
    }

    &.@{button}--danger {
      color: @button-danger-bg-color;

      &.@{button}--active {
        background-color: @button-danger-fill-color;
      }
    }
  }

  &--outline {
    border-width: @button-border-width;
    border-style: solid;
    background-color: transparent;

    &.@{button}--active {
      background-color: @button-fill-color;
    }

    &.@{button}--primary {
      border-color: @button-primary-bg-color;
      color: @button-primary-bg-color;

      &.@{button}--active {
        background-color: @button-primary-fill-color;
      }
    }

    &.@{button}--secondary {
      border-color: @button-secondary-bg-color;
      color: @button-secondary-bg-color;

      &.@{button}--active {
        background-color: @button-secondary-fill-color;
      }
    }

    &.@{button}--success {
      border-color: @button-success-bg-color;
      color: @button-success-bg-color;

      &.@{button}--active {
        background-color: @button-success-fill-color;
      }
    }

    &.@{button}--warning {
      border-color: @button-warning-bg-color;
      color: @button-warning-bg-color;

      &.@{button}--active {
        background-color: @button-warning-fill-color;
      }
    }

    &.@{button}--danger {
      border-color: @button-danger-bg-color;
      color: @button-danger-bg-color;

      &.@{button}--active {
        background-color: @button-danger-fill-color;
      }
    }
  }

  &--disabled,
  &--loading {
    opacity: @button-disabled-opacity;
  }

  &__loading {
    width: @button-loading-size !important;
    height: @button-loading-size !important;
  }

  &__icon {
    font-size: @button-icon-size !important;
  }

  &--round {
    border-radius: calc(@button-height / 2);

    &.@{button}--sm {
      border-radius: calc(@button-small-height / 2);
    }

    &.@{button}--lg {
      border-radius: calc(@button-large-height / 2);
    }
  }

  &--circle {
    min-width: @button-height;
    padding-left: 0;
    padding-right: 0;
    border-radius: 50%;

    &.@{button}--sm {
      min-width: @button-small-height;
    }

    &.@{button}--lg {
      min-width: @button-large-height;
    }
  }

  &--square {
    border-radius: 0;
  }

  &--block {
    display: flex;
    width: 100%;
  }
}
