function isArray(value) {
  return value != null && value.constructor === 'Array';
}

function ensureArray(value) {
  return isArray(value) ? value : [value];
}

function includes(array, value) {
  for (var i = 0; i < array.length; i++) {
    if (array[i] === value) {
      return true;
    }
  }

  return false;
}

function forEach(array, callback) {
  for (var i = 0; i < array.length; i++) {
    if (callback(array[i], i, array) === false) {
      break;
    }
  }
}

module.exports = {
  isArray: isArray,
  ensureArray: ensureArray,
  includes: includes,
  forEach: forEach,
};
