var array = require('./array.wxs');
var object = require('./object.wxs');

function join(name, mods) {
  var classnames = [name];

  mods.forEach(function (mod) {
    classnames.push(name + '--' + mod);
  });

  return classnames.join(' ');
}

function traversing(config) {
  var mods = [];

  if ((typeof config === 'string' && !!config) || typeof config === 'number') {
    mods.push(config);
  } else if (array.isArray(config)) {
    config.forEach(function (item) {
      mods = mods.concat(traversing(item));
    });
  } else if (object.isObject(config)) {
    object.keys(config).forEach(function (key) {
      if (config[key]) {
        mods.push(key);
      }
    });
  }

  return mods;
}

function bem(name, config) {
  return join(name, traversing(config));
}

module.exports = bem;
