var bem = require('./bem.wxs');
var memoize = require('./memoize.wxs');
var style = require('./style.wxs');

function isNumeric(value) {
  // prettier-ignore
  return getRegExp('^-?\d+(\.\d+)?$').test('' + value);
}

function isStyleUnitValue(value) {
  // prettier-ignore
  return getRegExp('^\d+(\.\d+)?(px|rpx|em|rem|%)$').test('' + value);
}

function isNull(value) {
  return value === null;
}

function isUndefined(value) {
  return value === undefined;
}

function addUnit(value) {
  if (isNull(value) || isUndefined(value)) {
    return;
  }

  return isNumeric(value) ? value + 'px' : value;
}

module.exports = {
  isNumeric: isNumeric,
  isStyleUnitValue: isStyleUnitValue,
  isNull: isNull,
  isUndefined: isUndefined,
  addUnit: addUnit,
  bem: memoize(bem),
  memoize: memoize,
  style: style,
};
