function isNumeric(value) {
  // prettier-ignore
  return getRegExp('^-?\d+(\.\d+)?$').test('' + value);
}

function isStyleUnitValue(value) {
  // prettier-ignore
  return getRegExp('^\d+(\.\d+)?(px|rpx|em|rem|%)$').test('' + value);
}

module.exports = {
  isNumeric: isNumeric,
  isStyleUnitValue: isStyleUnitValue,
};
