var utils = require('../wxs/utils.wxs');

function overlayStyle(data) {
  var duration = data.transitionDuration ? data.transitionDuration + 'ms' : null;

  return utils.style([
    {
      '-webkit-transition-duration': duration,
      'transition-duration': duration,
      'z-index': data.zIndex,
    },
    data.display ? null : 'display: none',
    data.style,
  ]);
}

module.exports = {
  overlayStyle: overlayStyle,
};
